<!DOCTYPE html>
<html class="" lang="en" data-th-fragment="parent(content , title,script)" xmlns:th="http://www.thymeleaf.org">

<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" data-th-href="@{'/css/style.css'}">

    <title th:replace="${title}">Document</title>
</head>

<body class="  bg-gray-200 text-black dark:text-white  dark:bg-gray-400 mt-12 pt-5">

    <!-- if the user login then this nav bar use  -->
    <div data-th-if="${loggedUser}">
        <div data-th-replace="~{user/user_NavBar::user_navbar}"></div>
    </div>
    <!-- if the user not login the this navbaruse -->
    <div data-th-unless="${loggedUser}">
        <div data-th-replace="~{navbar::navbar}"></div>
    </div>


    <div  th:replace="${content} "></div>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script data-th-src="@{ '/js/script.js'} "></script>
    <th:block data-th-replace="${script}"></th:block> 
</body>

</html>