<!DOCTYPE html>
<html lang="en" th:insert="~{base::parent(~{::#content},~{::title},~{::script})}">

<head></head>
<title>services</title>

<body>

    <div id="content">

        <h2>it is containt from the base class...</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit repellendus reiciendis officiis veniam? Quas molestiae asperiores molestias ad dolor laborum repellat, beatae pariatur, reprehenderit sit praesentium accusantium porro mollitia
            cumque!
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus impedit, ullam quae rem distinctio totam eaque earum iure fugiat inventore nemo. Ab nostrum ea nemo magni eligendi exercitationem tempore ducimus!</p>
    </div>

    <script>
        console.log("it is script from the services");
    </script>
</body>

</html>